<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Segment.Com keys-->
    <add key="SegmentEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SegmentWriteKey" value="hTesdCY7Ad1UQPOYxZR4T4SrIRyXQX66" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="WebProofGlobal" connectionString="Data Source=10.75.30.217;Initial Catalog=webproof_global;Integrated Security=False;User ID=sa;Password=3He97w3;MultipleActiveResultSets=True;Network Library=dbmssocn" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WebProofLogging" connectionString="Data Source=10.75.30.217;Initial Catalog=wp.logging;Integrated Security=False;User ID=sa;Password=3He97w3;MultipleActiveResultSets=True;Network Library=dbmssocn"
   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>