<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="WebProofLogging" connectionString="Data Source=10.120.2.10;Initial Catalog=wp.logging;Integrated Security=False;User ID=wp.api.rw;Password=J0bFS2Pt;MultipleActiveResultSets=True;Network Library=dbmssocn"
   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WebProofIdentity" connectionString="Data Source=10.120.2.10;Initial Catalog=wp.identity;Integrated Security=False;User ID=wp.api.rw;Password=J0bFS2Pt;MultipleActiveResultSets=True;Network Library=dbmssocn"
   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WebProofIdServer" connectionString="Data Source=10.120.2.10;Initial Catalog=wp.idserver;Integrated Security=False;User ID=wp.api.rw;Password=J0bFS2Pt;MultipleActiveResultSets=True;Network Library=dbmssocn"
   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WebProofGlobal" connectionString="Data Source=10.120.2.10;Initial Catalog=webproof_global;Integrated Security=False;User ID=sa;Password=3He97w3;MultipleActiveResultSets=True;Network Library=dbmssocn"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>


    <add name="WebProofClient" connectionString="Data Source={0};Initial Catalog={1};Integrated Security=False;User ID={2};Password={3};MultipleActiveResultSets=True;Network Library=dbmssocn"
   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WebProofClientSearch" connectionString="Data Source={0};Initial Catalog={1};Integrated Security=False;User ID={2};Password={3};MultipleActiveResultSets=True;Network Library=dbmssocn"
   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>