<?xml version="1.0" ?>
<nlog  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
       throwExceptions="true"
       internalLogFile="${basedir}/App_Data/nlog.log"
       internalLogLevel="Debug"
       internalLogToConsole="true">
  <targets async="true">

    <target name="databaselog"
            type="Database"
            dbProvider="System.Data.SqlClient"
            connectionStringName="WebProofLogging">
      <commandText>
        INSERT INTO NLog_Logging(log_date,log_level,log_logger,log_message,log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace) values(@time_stamp, @level, @logger, @message,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>

    <target xsi:type="NLogViewer"
        name="sentinel"
        address="udp://127.0.0.1:9999"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="sentinel" />
    <logger name="*" minlevel="Info" writeTo="databaselog" />
  </rules>

</nlog>